.audiogram-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 20px; /* Espace entre les éléments */
    padding: 20px;
}

.audiogram-container .chartBox {
    display: flex; /* Permet un meilleur contrôle sur les éléments canvas */
    justify-content: center; /* Centre le canvas dans le .chartBox */
    flex-basis: 45%; /* Réduit la base flexible pour avoir deux éléments par ligne sur écrans larges */
    max-width: 800px; /* Augmente la largeur maximale pour un plus grand affichage */
}

.audiogram {
    width: calc(70vw); /* Increases width based on the viewport width to make it larger */
    height: calc(70vw * (2 / 3)); /* Adjusts height to maintain a 3:2 aspect ratio */
    max-width: 100%; /* Ensures the audiogram does not exceed the container's width */
    max-height: calc(100% * (2 / 3)); /* Adjusts max height to maintain aspect ratio */
    background-color: white;
    border-radius: 1%;
    margin: auto; /* Centers the audiogram horizontally */
}

@media (max-width: 768px) {
    .audiogram {
        width: 95vw; /* Further increases width for smaller screens */
        height: calc(95vw * (2 / 3)); /* Adjusts height to maintain aspect ratio */
        max-width: 100%; /* Allows the audiogram to fill the container on smaller screens */
        max-height: calc(100% * (2 / 3)); /* Ensures aspect ratio is maintained */
    }
}

.audiogram-container .chartBox canvas {
    width: 100% !important; /* Assurez-vous que le canvas occupe 100% de la largeur de .chartBox */
    max-height: 600px !important; /* Augmente la hauteur maximale des canvas */
    aspect-ratio: 16 / 9 !important; /* Maintient un aspect ratio de 16:9 */
    border-radius: 20px !important;
    border: 3px solid rgba(54, 162, 235, 1) !important;
    background: white !important;
}

/* Style des conteneurs de formulaires */
.form-container {
    margin: 20px auto; /* Centers the form container horizontally */
    text-align: center;
    width: 100%; /* Allows the form to take the full width of its container */
    max-width: 200px; /* Ensures the form does not become too wide on larger screens */
}
  
/* Style pour le dropdown (ne change pas pour la réactivité) */
.dropdown-menu {
    display: none;
    position: fixed;
    left: 0;
    top: 60px;
    width: 200px;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.show {
    display: block;
}

/* Style des boutons et des sélecteurs (ne change pas pour la réactivité) */
.btn.btn-outline-primary {
    color: #03045e;
    border: 1px solid #03045e;
}

.btn.btn-outline-primary:hover {
    background-color: #03045e;
    color:#caf0f8;
    border: 1px solid #03045e;
}

.legend {
    display: flex;
    width: max-content;
}

.form-select {
    background-color: transparent;
    color: #03045e;
    border: 1px solid #03045e;
    width: fit-content;
}

.edit {
    width: min-content;
    margin-top: 10%;
}

.edit button {
    margin: 2%;
}
