/* Style des conteneurs de formulaires */
.form-container {
    margin: 20px;
    text-align: center;
}

/* Style des graphiques (ne pas toucher le quadrillage) */
.audiogram {
    width: 100%;
    max-width: 620px;
    height: 70vh; /* Utilise 50% de la hauteur de l'écran */
    background-color: white;
    border-radius: 1%;
}

/* Ajuster la taille du conteneur du graphique */
.chart-container {
    position: relative;
    height: 60vh; /* Augmenté de 40vh à 60vh */
    width: 60vw; /* Augmenté de 40vw à 60vw */
    margin: 0;
    padding: 0;
}

.chartBox {
    margin: 0; /* Supprimer les marges */
    padding: 0; /* Supprimer le padding */
}

.chartBox {
    flex-grow: 1; /* Permettre aux chartBox de grandir pour utiliser tout l'espace disponible */
    max-width: 50%; /* Assurer que chaque audiogramme ne dépasse pas 50% de la largeur */
    display: flex;
    justify-content: center; /* Centrer le contenu des chartBox */
}

.audiogram-container > div {
    margin: 0; /* Réduire la marge à 0.5% */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -1em;
    gap: 0.5em;
}


.audiogram-container {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0;
}


.dropdown-menu {
    display: none;
    position: fixed; 
    left: 0;
    top: 60px;
    width: 200px;
    height: 100%;
    background-color: white;
    overflow-y: auto; /* Permet le défilement si la liste est longue */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
  }

.show {
    display: block;
}

.chartBox canvas {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
}

#addPointFormLeft {
    align-content:start;
}

.btn.btn-outline-primary {
    color: #03045e;
    border: 1px solid #03045e;
}

.btn.btn-outline-primary:hover {
    background-color: #03045e;
    color:#caf0f8;
    border: 1px solid #03045e;
}

.legend {
    display: flex;
    width: max-content;
    margin-bottom: 0.2em;
}

#legendSelector {
    margin-bottom: 0.5em;
    min-width: 200px; /* ou la largeur qui convient le mieux */
    font-size: 1rem; /* ajustez selon les besoins */
    padding: .375rem 2.25rem .375rem .75rem; /* ajustez le padding droit si l'icône de la flèche est trop proche du texte */
}

.form-select {
    background-color: transparent;
    color: #03045e;
    border: 1px solid #03045e;
    width: fit-content;
}

.edit {
    width: min-content;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}


.edit button {
    margin: 2%;
    width: fit-content;
}

.btn-primary{
    background-color: #03045e !important;
    border-color: #03045e !important;
}

.btn-danger {
    background-color: red !important;
    border-color: red !important;
}

#soundSelectorChampLibre{
    width:50%;
}

.AfficherAudioLibre {
    text-align: center;
    color: #03045e;
    border: 1px solid #03045e;
    width: fit-content;
    border-radius: 5px;
    margin-top: 0.5em;
}

.form-check {
    margin-left: 5.5em;
}

.form-check .form-check-input {
    float: left;
    margin-left: -2.5em !important;
}

#soundSelectorChampLibre {
    margin-bottom: 0.5em;
    min-width: 200px; /* ou la largeur qui convient le mieux */
    font-size: 1rem; /* ajustez selon les besoins */
    padding: .375rem 2.25rem .375rem .75rem; /* ajustez le padding droit si l'icône de la flèche est trop proche du texte */
}

#frequenciesThird  {
    margin-right: 0.3em;
}

#decibelsThird {
    margin-right: 0.2em;    
}

