@font-face {
    font-family: Colagraph;
    src: url('ressources/Colagraph8-Regular.ttf');
}

html, body {
    height: 100%; /* Assure que l'élément html et le body occupent toute la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
    min-height: 100%;
    height: auto;
  }

/* Style général de la page */
body {
    background: linear-gradient(#0077b6, #caf0f8) no-repeat center center fixed; 
    background-size: cover; /* Assure que le fond couvre toute la page, y compris quand le contenu s'étend */
    font-family: Arial, sans-serif;
    text-align: center;
}

.content {
    flex: 1; /* Permet au contenu de s'étendre et de prendre tout l'espace disponible */
    padding: 20px; /* Ajoute un peu d'espace autour du contenu pour l'esthétique */
}
.eraser-icon {
    width: 24px; /* ou la taille que vous voulez */
    height: 24px; /* ou la taille que vous voulez */
    /* Ajouter d'autres styles si nécessaire */
  }
  
/* Style du header */
.header {
    background: linear-gradient(#03045e, #0077b6);
    color: white;
    padding: 2% 2%;
    display: flex;
    align-items: center; /* Centre verticalement les éléments dans le header */
    justify-content:start; /* Alignement horizontal à gauche */
    font-size: 160%;
    height: 9%; /* Hauteur fixe pour le header */
}

.body-index{
    display: flex;
    justify-content:space-between;
    height: 100%;
}

.body-index .tab1{
    align-items: center;
    border-right: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: linear-gradient(#0077B6,#03045e);

}

.body-index .tab2{
    align-items: center;
    border-left: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: linear-gradient(#00B4D8,#90E0EF);
}

.body-index .tab1 img, .body-index .tab2 img{
    width: 50%;
    height:fit-content;
    transition: all 0.1s ease;
    animation: none;
}


@keyframes grow-shrink {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
}

.body-index .tab1 img:hover, .body-index .tab2 img:hover{
    width: 60%;
    height:fit-content;
    animation: grow-shrink 3s infinite alternate; 
    transition: all 0.3s ease; 
}

.header .tab1,.header .tab2, .body-index a{
    display:contents;
}

.header a {
    text-decoration: none;
    color : white;
    display: contents;
}

.tab2 img , .tab1 img{
    margin-right: 2%;
    width: 3%;
}

.tab2 img:hover , .tab1 img:hover{
    margin-right: 1%;
    width:4%;
}

/* Style du titre au milieu du header */
.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: Colagraph;
    font-size: 250%;
}

/* Style des conteneurs de formulaires */
.form-container {
    margin: 20px;
    text-align: center;
}

/* Style des graphiques (ne pas toucher le quadrillage) */
.audiogram {
    width: 600px;
    height: 400px;
    background-color: white; /* Définit le fond des graphiques en blanc */
    border-radius: 1%;
}

.audiogram-container > div{
    margin : 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audiogram-container {
    display: flex;
    justify-content:center;
    align-items: center;
}

.dropdown-menu {
    display: none;
    position: fixed; 
    left: 0;
    top: 60px;
    width: 200px;
    height: 100%;
    background-color: white;
    overflow-y: auto; /* Permet le défilement si la liste est longue */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.show {
    display: block;
}

.tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none; /* Empêcher le tooltip d'interférer avec les clics de la souris */
  }

.chartBox canvas {
    width: 150%; /* prendra la totalité de la largeur de .chartBox */
    max-width: 745px; 
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
}

#addPointFormLeft {
    align-content:start;
}

.btn.btn-outline-primary{
    color: #03045e;
    border: 1px solid #03045e;
}

.btn.btn-outline-primary:hover{
    background-color: #03045e;
    color:#caf0f8;
    border: 1px solid #03045e;
}

.legend{
    display: flex;
    width: max-content;
}

.form-select{
    background-color: transparent;
    color: #03045e;
    border: 1px solid #03045e;
    width: fit-content;
}

.edit{
    width: min-content;
}

.edit button{
    margin: 2%;
}

h1 {
    color: #03045e; 
    font-size: 2.5rem;
    margin-top: 20px; 
    margin-bottom: 20px;  
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px #caf0f8; 
}



.audio-group h2 {
    text-align: center; 
}

.audio-container {
    border:  #0077b6; /* Bordure de la bulle */
    border-radius: 25px; /* Coins arrondis pour l'effet bulle */
    padding: 10px; /* Espace intérieur */
    margin-bottom: 10px; /* Espace entre les bulles */
    background-color: #76b6ee; /* Couleur de fond */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Ombre pour un effet 3D */
    max-width: 600px; /* Largeur maximale */
    margin-left: auto; /* Centrer la bulle */
    margin-right: auto;
    text-align: left; /* Aligner le texte à gauche */
}

#uploadAudioForm {
    background-color: #0d7b91; /* Couleur plus foncée pour le conteneur d'ajout de son */
    color: white; /* Texte blanc pour une meilleure lisibilité */
    border: 1px solid #005f79; /* Bordure légèrement plus foncée pour un meilleur contraste */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09); /* Ombre pour un effet de profondeur */
    padding: 15px; /* Alignement de l'espacement intérieur avec les autres conteneurs audio */
    margin-bottom: 20px; /* Assurer un espacement uniforme entre les éléments */
    max-width: 600px; /* Alignement de la largeur maximale avec les autres conteneurs audio */
    margin-left: auto; /* Centrage horizontal */
    margin-right: auto;
    text-align: left; /* Alignement du texte à gauche pour la cohérence */
    border-radius: 25px; /* Coins arrondis pour l'effet bulle */

}



/* Style des conteneurs de fichiers audio existants */
.audio-container {
    background-color: #008CBA; /* Bleu différent pour les fichiers audio */
    color: #FFF; /* Texte blanc pour le contraste */
    border: 1px solid #0079a1; /* Bordure subtile */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09); /* Ombre plus légère */
    padding: 15px; /* Espacement intérieur */
    margin-bottom: 20px; /* Espacement entre les conteneurs */
}

/* Ajustements pour les boutons dans les conteneurs de fichiers audio */
.audio-container .btn {
    margin-top: 10px; /* Espacement au-dessus des boutons */
}

.audio-container .btn-primary {
    background-color: #449D44; /* Vert pour le bouton 'Modifier' */
    border-color: #398439; /* Bordure du bouton 'Modifier' */
}

.audio-container .btn-danger {
    background-color: #C9302C; /* Rouge pour le bouton 'Supprimer' */
    border-color: #ac2925; /* Bordure du bouton 'Supprimer' */
}

/* Amélioration de la visibilité du texte */
.audio-container p, #uploadAudioForm p {
    font-size: 1.2rem; /* Taille de texte plus grande */
    text-shadow: none; /* Retirer l'ombre du texte pour améliorer la lisibilité */
}

.audio-container:hover {
    background-color: #007bb5; /* Sombre lors du survol */
    border-color: #006699; /* Bordure plus sombre lors du survol */
    cursor: pointer; /* Change le curseur pour indiquer la possibilité d'une action */
}
