@font-face {
    font-family: Colagraph;
    src: url('ressources/Colagraph8-Regular.ttf');
}

/* Style général de la page */
body {
    background-color: #f5deb3; /* Couleur de fond beige */
    font-family: Arial, sans-serif; /* Police de caractère */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les paddings par défaut */
}

/* Style du header */
.header {
    background-color: red; /* Couleur de fond rouge */
    color: white;
    padding: 10px 0;
    display: flex; /* Utilisation de Flexbox pour l'alignement */
    align-items: center; /* Centre verticalement les éléments dans le header */
    justify-content: space-between; /* Alignement horizontal à gauche */
    font-size: 24px;
    height: 60px; /* Hauteur fixe pour le header */
}


.tab2 img {
    width: 70px;
    height: auto;
}

.tab1 img {
    width: 70px;
    height: auto;
}

/* Style du titre au milieu du header */
.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: Colagraph;
    font-size: 250%;
}

input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #f3a20d;
	background: rgba(#f3a20d, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #f3a20d;
    margin: 0.2em;
}

/* Style des boutons */
button {
    background-color: blue; /* Couleur de fond verte */
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Style des conteneurs de formulaires */
.form-container {
    text-align: center;
    margin: 20px;
}

/* Style des graphiques (ne pas toucher le quadrillage) */
.audiogram {
    width: 800px;
    height: 400px;
    margin-top: 5em;
    background-color: white; /* Définit le fond des graphiques en blanc */
}

.audiogram-container {
    display: flex;
    justify-content: space-around;
}

.dropdown-menu {
    display: none;
    position: fixed; 
    left: 0;
    top: 60px;
    width: 200px;
    height: 100%;
    background-color: white;
    overflow-y: auto; /* Permet le défilement si la liste est longue */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.show {
    display: block;
}

/* Style pour les éléments du menu déroulant */
.dropdown-menu div {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu div:hover {
    background-color: #ddd;
}



